---
layout: default
title: Luis Buenaventura - Bitcoin Specialist and Fintech Entrepreneur
---

header
  img class='avatar' src='https://cdn-images-1.medium.com/fit/c/277/277/1*EAv4o3x_5h82QPTXmla5qA.jpeg'
  h1 class='tagline' 
    strong Luis 
    |  Buenaventura
  h2 Bitcoin Remittance Specialist &amp; Fintech Entrepreneur
  p.lead
    | Download or order <em><a href="https://www.bloom.solutions/book" target="_blank">Reinventing Remittances with Bitcoin (2017)</a></em> ...
  
section class='intro'
  
  p.lead
    | Luis is a Manila-based entrepreneur specializing in cryptocurrencies, and has been focusing on the Bitcoin remittance space since 2014. With his startup <a href="https://bloom.solutions">Bloom</a>, Luis helps money transfer businesses improve their processes with Bitcoin and the blockchain. 
  p
    | He authored <em>Reinventing Remittances with Bitcoin</em> in 2017, which collects learnings about an improved remittance business process, as well as stories about the many startups around the world that are pioneering this new landscape. His past writing on Bitcoin and its impact on various industries has been featured on Quartz, Techcrunch, The Next Web, Tech in Asia, and Rappler. Over the years, he has presented on these topics at Inside Bitcoins in Singapore, Blockfin Asia in Vietnam, the International Money Transfer Conference (IMTC) in Las Vegas and Miami, and the Brookings Blum Roundtable in Aspen.
  p
    | Luis has been building tech startups in the Philippines for nearly a decade, and blogs at <a href="https://medium.com/@cryptonight">Cryptonight</a>.
  p
    a href="https://twitter.com/helloluis" class="twitter-follow-button" data-show-count="false" data-size="large"
      | Follow @helloluis
  
  javascript:
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

section class='connect'
  
  h2 Contact Information

  ul class='social-media'
    li class='medium' 
      a href="https://medium.com/@cryptonight"
        span class='icon icon-medium' 
        span class='social-link' 
          | medium.com/
          strong @Cryptonight
    li class='linkedin' 
      a href="https://linkedin.com/in/helloluis"
        span class='icon icon-linkedin'
        span class='social-link' 
          | linkedin.com/in/
          strong helloluis
    li class='twitter' 
      a href="https://twitter.com/helloluis"
        span class='icon icon-twitter'
        span class='social-link' 
          | twitter.com/
          strong helloluis
    li class='github'
      a href="https://github.com/helloluis"
        span class='icon icon-github'
        span class='social-link' 
          | github.com/
          strong helloluis
    li class='email'
      a href="mailto:luis@bloom.solutions"
        span class='icon icon-email'
        span class='social-link' 
          strong luis
          | @bloom.solutions

section class='writing'
  
  h2 Essays, Interviews, Talks

  ul class='writing'
    li
      small class='publication' Quartz
      a href="https://qz.com/775159/theres-a-500-billion-remittance-market-and-bitcoin-startups-want-in-on-it/"
        | There's a $500 Billion Remittance Market and Bitcoin Startups Want In On It
    li
      small class='publication' Video
      a href="https://www.youtube.com/watch?v=r0f4VVoARik"
        | Blockfin Asia: Reinventing Remittances with the Blockchain
    li
      small class='publication' Rappler
      a href="http://www.rappler.com/technology/features/119557-bitcoin-death-exaggerated" 
        | Reports of Bitcoin's Death Have Been Widely Retweeted and Greatly Exaggerated
    li
      small class='publication' Rappler
      a href="http://www.rappler.com/technology/features/114676-bitcoin-terrorism-feature"
        | Did ISIS Really Use Bitcoin to Fund the Paris Attacks?
    li
      small class='publication' Video
      a href="https://www.youtube.com/watch?v=oO3S-bRCy_E"
        | University of Nicosia - MSc in Digital Currencies
    li
      small class='publication' Talk
      a href="https://medium.com/@Cryptonight/presenting-bitcoin-remittances-at-the-brookings-blum-roundtable-2015-9b13b46cf336" Presenting Bitcoin Remittances at the Brookings Blum Roundtable 2015
    li 
      small class='publication' Techcrunch 
      a href="http://techcrunch.com/2015/01/30/the-bootstrappers-guide-to-bitcoin-remittances/" 
        | The Bootstrapper's Guide to Bitcoin Remittances
    li
      small class='publication' Interview
      a href="http://techcrunch.com/2015/01/29/this-week-on-the-techcrunch-bitcoin-podcast-an-interview-with-luis-buenaventura-of-rebit/"
        | The Techcrunch Bitcoin Podcast: An Interview with Luis Buenaventura
    li
      small class='publication' TheNextWeb 
      a href="http://thenextweb.com/insider/2014/09/28/rise-rebittance-reinventing-money-transfers-philippines-bitcoin/"
        | The Rise of Rebittances: Reinventing Money Transfers with Bitcoin
    li
      small class='publication' TheNextWeb 
      a href="http://thenextweb.com/asia/2014/10/27/solving-mobile-money-problem-philippines/" Solving the Mobile Money Problem in the Philippines
    li
      small class='publication' Tech in Asia
      a href="https://www.techinasia.com/bitreserve-bitcoin-volatility-problem/" Bitreserve and the Bitcoin Volatility Problem
    li
      small class='publication' Coindesk
      a href="http://www.coindesk.com/bitcoin-powered-marketplace-change-future-secrets/" 
        | A Bitcoin-Powered Market Could Change the Future of Secrets
    li
      small class='publication' Coindesk
      a href="http://www.coindesk.com/bitcoin-remittance-services-leave-bitcoin-part/"
        | Why Bitcoin Remittance Services Should Leave the "Bitcoin" Part Out
    li
      small class='publication' Coindesk
      a href="http://www.coindesk.com/short-term-view-bitcoin-remittances/"
        | The Short-Term View on Bitcoin Remittances
    li
      small class='publication' Coindesk
      a href="http://www.coindesk.com/bitcoin-philippines-numbers/"
        | Bitcoin in the Philippines, by the Numbers
    li
      small class='publication' Rappler
      a href="http://www.rappler.com/business/features/64558-bitcoin-gold-investments" Bitcoin vs Gold: Which is Better?
      

footer

  p
    small 
      | Copyright &copy; 2015

