doctype html
/[if IEMobile 7]
  | <html class="no-js iem7">
| <!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->

head

  title Prototyping Your Thought Bubbles

body

  header

    h1 class='logo' Sandbox Studios
    h2 class='tagline' Prototyping Your Thought Bubbles

    p class='intro' 
      | We take your web and mobile business concepts and rapidly transform them into live, functional prototypes that you can use to validate your market, raise funding, or iterate further into full-featured platforms. We're based in the Philippines and have been building web products both for clients and as our own in-house brands for the past 7 years.

  section class='portfolio'

    h1 Our Work

    ul
      li
        img
        p
          a href='http://infinite.ly' Infinite.ly
      li
        img
        p
          a href='http://happy.ph' Happy.ph
      li
        img
        p
          a href='http://kreyos.com' Kreyos.com

  section class='contact'

    p 
      | If you have a concept that you’d like to discuss with us, send us an email via <a href='mailto:hello@sandbox.ph'>hello@sandbox.ph</a>.

  footer

    p
      small 
        | Copyright &copy; 2014

    ul class='social_media'
      li class='facebook'
      li class='twitter'
      li class='google_plus'