/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background: #0a2122 url(/assets/images/bg_texture.jpg);
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif; 
  text-align: center;
  color: #6F938D;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
  font-family: 'Bitter', serif;
}

h1 { 
  font-size:300%;
}
h2 {
  font-size:250%;
}
p { margin: 1em 0; }

a         { color: #082900; }
a:hover   { color: #082900; }
a:visited { color: #082900; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

header {
  background: url(/assets/images/masthead4.jpg) no-repeat;
  height:600px;
}

header h1, header h2 {
  color:#fff;
}

header, section {
  margin-bottom:40px;
}

section.intro {
  margin-top:20px;
}

.intro p {
  width:50%;
  max-width:600px;
  margin:0px auto;
  font-size:22px;
  line-height:1.4;
  text-align:left;
}

footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

footer .contact {
  float: left;
  margin-right: 3em;
}

footer .contact a {
  color: #8085C1;
}

footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

footer .rss img {
  border: 0;
}
